<ng-container *ngIf="project$ | async as project">
  <h1 class="mat-headline">{{ project.name }}</h1>
  <mat-divider></mat-divider>

  <div style="display: flex; align-items: center" *ngIf="!tracked$.value">
    <mat-form-field style="width: 320px">
      <input matInput placeholder="New Activity" #input>
    </mat-form-field>
    <button mat-icon-button color="accent" (click)="track(input.value); input.value = ''"><mat-icon>add</mat-icon></button>
  </div>

  <table mat-table [dataSource]="activities$ | async" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Activity</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'time']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'time'];"></tr>
  </table>
</ng-container>
