:host {
  display: block;
  padding: 32px;
}

mat-divider {
  margin-bottom: 48px;
}

.title {
  display: flex;
  align-items: center;
  margin: 0 0 16px;
}

.title .mat-title {
  margin-bottom: 0;
}

.title__button {
  margin-left: 8px;
}

.users {
  display: flex;
  margin-bottom: 36px;
}

.user {
  margin-right: 16px;
  height: 128px;
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}
// mat-card:hover {
//   box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)
// }

.user mat-icon {
  width: 64px;
  height: 64px;
  font-size: 64px;
  margin: auto;
}

.project {
  cursor: pointer;
  user-select: none;
  max-width: 640px;
  margin: 0 0 32px;
  position: relative;
}
.project:hover {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)
}
.project:focus {
  outline: none;
}

.project__ripple {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.project__label {
  position: relative;
}

.label__badge {
  position: absolute;
  left: 0;
  right: 4px;
  bottom: 0;
  top: 8px;
}

.project mat-card-avatar {
  width: 3em;
  height: 3em;
}

.project mat-icon {
  font-size: 3em;
}
