:host {
  display: inline;
}

.svg-icon {
  width: 24px;
  height: 24px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--color);
}

.svg-icon circle {
  stroke: var(--color);
  stroke-width: 1;
}
