<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <h3 matSubheader>Courses</h3>
      <mat-list-item
        *ngFor="let course of courses$ | async"
        [routerLink]="['/course', course.id]">
        {{ course.name }}
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 matSubheader>Projects</h3>
      <mat-list-item
        *ngFor="let project of projects$ | async"
        [routerLink]="['/project', project.id]">
        {{ project.name }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Big Brother</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
